<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body {
            
            width: 100%;
        height: 100vh;
        background-image: url("luke-chesser-IGtutkXikuc-unsplash.jpg");
        background-size: cover;
    }
   
    .content-area {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    span {
        color: #ffffff;
        font-size: 75px;
        text-decoration: none;
    }
    div {
        text-align: center;
    }
    .nav {
    margin-left: 43%;
   font-size: x-large;
    font-weight: 500;
    display: flex;
}
.banner-area {
    margin-top: 20%;
}
    </style>
</head>
<body>
    <div class="banner-area">
        <div class="content-area">
    
    <span>Welcome to Scrubsolace</span>

    </div>
    <div class="nav">{{>navbar}}</div>
    </div>
</body>
</html>