<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body {
            
            width: 100%;
            background-size: cover;
            height: 100vh;
    /*background-color: #560bad;*/
    }
    .banner-area {
        width: 100%;
        height: 100vh;
        background-image: url("luke-chesser-IGtutkXikuc-unsplash.jpg");
        background-size: cover;
    }
    .content-area {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    a {
        color: #ffffff;
        font-size: 75px;
        text-decoration: none;
    }
    div {
        text-align: center;
    }
    </style>
</head>
<body>
    <div class="banner-area">
        <div class="content-area">
    {{!-- <img src="luke-chesser-eICUFSeirc0-unsplash.jpg" alt="hello"/> --}}
    <a href="http://localhost:3000/">Scrubsolace</a>
    </div>
    </div>
</body>
</html>