<head>
    <style>
        .container {
            padding: 10px;
        }
        a {
            padding: 20px;
            color: black;
        }
    </style>
</head>

<div class="navbar navbar-expand-lg navbar-ark fixed-top">
    <div class = "container">
        <a href="/login">Login</a>
        <a href="/register">Register</a>
    </div>
</div>